In [1]:
import pandas as pd

# Upload/cleaning and imputation

In [2]:
df=pd.read_csv('asset.csv');df.head()

,S.No,Index Name,Annual Returns,PE Ratio,PB Ratio,Dividend Yield,Index Price(2022),Index Price(2019),Index Price(2016),Index Price(2014)
0,1,S&P BSE Sensex,0.126169,23.74,3.44,1.24,60840.74,41253.74,26626.46,27499.42
1,2,S&P BSE Sensex 50,0.149719,NaN,NaN,NaN,19058.93,12736.31,8428.05,NaN
2,3,S&P BSE Sensex 50 TMC,0.138719,NaN,NaN,NaN,6165.61,4180.27,NaN,NaN
3,4,S&P BSE Sensex(duplicated),0.126169,23.74,3.44,1.24,60840.74,41253.74,26626.46,27499.42
4,5,S&P BSE Sensex next 50,0.124094,NaN,NaN,NaN,49102.92,31514.74,26567.2,24051.72

In [3]:
df.shape

(69, 10)

In [4]:
df.isnull().sum()

S.No                  0
Index Name            0
Annual Returns        2
PE Ratio             10
PB Ratio             10
Dividend Yield       10
Index Price(2022)     3
Index Price(2019)     4
Index Price(2016)    16
Index Price(2014)    26
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   S.No               69 non-null     int64
 1   Index Name         69 non-null     object
 2   Annual Returns     67 non-null     float64
 3   PE Ratio           59 non-null     float64
 4   PB Ratio           59 non-null     float64
 5   Dividend Yield     59 non-null     float64
 6   Index Price(2022)  66 non-null     object
 7   Index Price(2019)  65 non-null     object
 8   Index Price(2016)  53 non-null     object
 9   Index Price(2014)  43 non-null     object
dtypes: float64(4), int64(1), object(5)
memory usage: 5.5+ KB

In [6]:
df['Index Price(2022)'] = pd.to_numeric(df['Index Price(2022)'], errors='coerce')
df['Index Price(2019)'] = pd.to_numeric(df['Index Price(2019)'], errors='coerce')
df['Index Price(2016)'] = pd.to_numeric(df['Index Price(2016)'], errors='coerce')
df['Index Price(2014)'] = pd.to_numeric(df['Index Price(2014)'], errors='coerce')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   S.No               69 non-null     int64
 1   Index Name         69 non-null     object
 2   Annual Returns     67 non-null     float64
 3   PE Ratio           59 non-null     float64
 4   PB Ratio           59 non-null     float64
 5   Dividend Yield     59 non-null     float64
 6   Index Price(2022)  54 non-null     float64
 7   Index Price(2019)  52 non-null     float64
 8   Index Price(2016)  44 non-null     float64
 9   Index Price(2014)  34 non-null     float64
dtypes: float64(8), int64(1), object(1)
memory usage: 5.5+ KB

In [8]:
df1= df.drop(['Index Name','S.No'],axis=1);df1.head()

,Annual Returns,PE Ratio,PB Ratio,Dividend Yield,Index Price(2022),Index Price(2019),Index Price(2016),Index Price(2014)
0,0.126169,23.74,3.44,1.24,60840.74,41253.74,26626.46,27499.42
1,0.149719,NaN,NaN,NaN,19058.93,12736.31,8428.05,NaN
2,0.138719,NaN,NaN,NaN,6165.61,4180.27,NaN,NaN
3,0.126169,23.74,3.44,1.24,60840.74,41253.74,26626.46,27499.42
4,0.124094,NaN,NaN,NaN,49102.92,31514.74,26567.20,24051.72

In [9]:
import numpy as np
from sklearn.impute import KNNImputer

def fill_nan_with_knn(df1):
    
    imputer = KNNImputer(n_neighbors=4)  #adjsut for neighbour val
    
   
    df_imputed = pd.DataFrame(imputer.fit_transform(df1), columns=df1.columns)
    
    return df_imputed

# fill nan
df_imputed = fill_nan_with_knn(df1)

#display with comparison
print("Original DataFrame:")
print(df1)
print("\nDataFrame after KNN imputation:")
print(df_imputed)

Original DataFrame:
    Annual Returns  PE Ratio  PB Ratio  Dividend Yield  Index Price(2022)  \
0         0.126169     23.74     3.440          1.2400           60840.74
1         0.149719       NaN       NaN             NaN           19058.93
2         0.138719       NaN       NaN             NaN            6165.61
3         0.126169     23.74     3.440          1.2400           60840.74
4         0.124094       NaN       NaN             NaN           49102.92
..             ...       ...       ...             ...                ...
64        1.578776     44.00     5.400          0.1100                NaN
65        0.046821     30.55     5.024          1.2440                NaN
66        0.081985    -18.16    -8.660          1.1767                NaN
67        0.179910     23.45     2.620          1.7300            4599.57
68        0.193300     19.56     3.210          0.9863             712.55

    Index Price(2019)  Index Price(2016)  Index Price(2014)
0            41253.74           26626.46           27499.42
1            12736.31            8428.05                NaN
2             4180.27                NaN                NaN
3            41253.74           26626.46           27499.42
4            31514.74           26567.20           24051.72
..                ...                ...                ...
64                NaN                NaN                NaN
65                NaN                NaN                NaN
66                NaN                NaN                NaN
67            3879.23            3132.13            2902.89
68             685.66             621.85             601.89

[69 rows x 8 columns]

DataFrame after KNN imputation:
    Annual Returns  PE Ratio  PB Ratio  Dividend Yield  Index Price(2022)  \
0         0.126169   23.7400    3.4400        1.240000         60840.7400
1         0.149719   22.0175    3.1925        1.501542         19058.9300
2         0.138719   22.0175    3.1925        1.501542          6165.6100
3         0.126169   23.7400    3.4400        1.240000         60840.7400
4         0.124094   25.2550    3.3925        1.305354         49102.9200
..             ...       ...       ...             ...                ...
64        1.578776   44.0000    5.4000        0.110000          9492.1975
65        0.046821   30.5500    5.0240        1.244000         19444.2825
66        0.081985  -18.1600   -8.6600        1.176700         19444.2825
67        0.179910   23.4500    2.6200        1.730000          4599.5700
68        0.193300   19.5600    3.2100        0.986300           712.5500

    Index Price(2019)  Index Price(2016)  Index Price(2014)
0           41253.740         26626.4600         27499.4200
1           12736.310          8428.0500         10390.3700
2            4180.270          5943.4725          5622.2300
3           41253.740         26626.4600         27499.4200
4           31514.740         26567.2000         24051.7200
..                ...                ...                ...
64           6191.130          3844.9575          7622.6600
65          13106.275         10487.7350         14340.5200
66          13106.275         10487.7350          7119.8625
67           3879.230          3132.1300          2902.8900
68            685.660           621.8500           601.8900

[69 rows x 8 columns]

In [10]:
df_imputed.head()

,Annual Returns,PE Ratio,PB Ratio,Dividend Yield,Index Price(2022),Index Price(2019),Index Price(2016),Index Price(2014)
0,0.126169,23.7400,3.4400,1.240000,60840.74,41253.74,26626.4600,27499.42
1,0.149719,22.0175,3.1925,1.501542,19058.93,12736.31,8428.0500,10390.37
2,0.138719,22.0175,3.1925,1.501542,6165.61,4180.27,5943.4725,5622.23
3,0.126169,23.7400,3.4400,1.240000,60840.74,41253.74,26626.4600,27499.42
4,0.124094,25.2550,3.3925,1.305354,49102.92,31514.74,26567.2000,24051.72

In [11]:
a=df['Index Name'];a.head()

0                S&P BSE Sensex
1             S&P BSE Sensex 50
2         S&P BSE Sensex 50 TMC
3    S&P BSE Sensex(duplicated)
4        S&P BSE Sensex next 50
Name: Index Name, dtype: object

In [12]:
df_n = pd.concat([a,df_imputed],axis=1);df_n.head()

,Index Name,Annual Returns,PE Ratio,PB Ratio,Dividend Yield,Index Price(2022),Index Price(2019),Index Price(2016),Index Price(2014)
0,S&P BSE Sensex,0.126169,23.7400,3.4400,1.240000,60840.74,41253.74,26626.4600,27499.42
1,S&P BSE Sensex 50,0.149719,22.0175,3.1925,1.501542,19058.93,12736.31,8428.0500,10390.37
2,S&P BSE Sensex 50 TMC,0.138719,22.0175,3.1925,1.501542,6165.61,4180.27,5943.4725,5622.23
3,S&P BSE Sensex(duplicated),0.126169,23.7400,3.4400,1.240000,60840.74,41253.74,26626.4600,27499.42
4,S&P BSE Sensex next 50,0.124094,25.2550,3.3925,1.305354,49102.92,31514.74,26567.2000,24051.72

In [13]:
df_n.shape

(69, 9)

In [14]:
df_n.isnull().sum()

Index Name           0
Annual Returns       0
PE Ratio             0
PB Ratio             0
Dividend Yield       0
Index Price(2022)    0
Index Price(2019)    0
Index Price(2016)    0
Index Price(2014)    0
dtype: int64

# Euclidian distance and Similarity matrix

In [15]:
#using min-max scaler scale the data
from scipy.spatial.distance import pdist, squareform
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

dfs = pd.DataFrame(scaler.fit_transform(df_imputed), columns=df_imputed.columns);dfs.head()

,Annual Returns,PE Ratio,PB Ratio,Dividend Yield,Index Price(2022),Index Price(2019),Index Price(2016),Index Price(2014)
0,0.137364,0.487039,0.663377,0.300920,1.000000,1.000000,0.458569,1.000000
1,0.151349,0.467017,0.649808,0.366927,0.313118,0.308537,0.145019,0.377811
2,0.144817,0.467017,0.649808,0.366927,0.101155,0.101079,0.102210,0.204412
3,0.137364,0.487039,0.663377,0.300920,1.000000,1.000000,0.458569,1.000000
4,0.136131,0.504650,0.660773,0.317414,0.807033,0.763858,0.457548,0.874621

In [16]:
dfs.shape

(69, 8)

In [17]:
dist = pdist(dfs, metric='euclidean')

#simalirity kxk matrix
simmax = squareform(dist)

# Display the standardized DataFrame and similarity matrix
print("Standardized DataFrame:")
print(dfs)
print("\nSimilarity Matrix (based on Euclidean distance):")
print(simmax)

Standardized DataFrame:
    Annual Returns  PE Ratio  PB Ratio  Dividend Yield  Index Price(2022)  \
0         0.137364  0.487039  0.663377        0.300920           1.000000
1         0.151349  0.467017  0.649808        0.366927           0.313118
2         0.144817  0.467017  0.649808        0.366927           0.101155
3         0.137364  0.487039  0.663377        0.300920           1.000000
4         0.136131  0.504650  0.660773        0.317414           0.807033
..             ...       ...       ...             ...                ...
64        1.000000  0.722539  0.770833        0.015736           0.155844
65        0.090243  0.566198  0.750219        0.301929           0.319453
66        0.111125  0.000000  0.000000        0.284945           0.319453
67        0.169278  0.483668  0.618421        0.424584           0.075410
68        0.177230  0.438452  0.650768        0.236892           0.011509

    Index Price(2019)  Index Price(2016)  Index Price(2014)
0            1.000000           0.458569           1.000000
1            0.308537           0.145019           0.377811
2            0.101079           0.102210           0.204412
3            1.000000           0.458569           1.000000
4            0.763858           0.457548           0.874621
..                ...                ...                ...
64           0.149836           0.066054           0.277160
65           0.317508           0.180506           0.521462
66           0.317508           0.180506           0.258875
67           0.093779           0.053772           0.105520
68           0.016345           0.010521           0.021842

[69 rows x 8 columns]

Similarity Matrix (based on Euclidean distance):
[[0.         1.20020767 1.54302633 ... 1.49457192 1.63046023 1.76364446]
 [1.20020767 0.         0.34627956 ... 0.81499721 0.43589245 0.58270384]
 [1.54302633 0.34627956 0.         ... 0.86706623 0.13426495 0.27519383]
 ...
 [1.49457192 0.81499721 0.86706623 ... 0.         0.88794782 0.94500042]
 [1.63046023 0.43589245 0.13426495 ... 0.88794782 0.         0.2394462 ]
 [1.76364446 0.58270384 0.27519383 ... 0.94500042 0.2394462  0.        ]]

In [18]:
simmax.shape

(69, 69)

# Recommender

In [19]:
df_n.head()

,Index Name,Annual Returns,PE Ratio,PB Ratio,Dividend Yield,Index Price(2022),Index Price(2019),Index Price(2016),Index Price(2014)
0,S&P BSE Sensex,0.126169,23.7400,3.4400,1.240000,60840.74,41253.74,26626.4600,27499.42
1,S&P BSE Sensex 50,0.149719,22.0175,3.1925,1.501542,19058.93,12736.31,8428.0500,10390.37
2,S&P BSE Sensex 50 TMC,0.138719,22.0175,3.1925,1.501542,6165.61,4180.27,5943.4725,5622.23
3,S&P BSE Sensex(duplicated),0.126169,23.7400,3.4400,1.240000,60840.74,41253.74,26626.4600,27499.42
4,S&P BSE Sensex next 50,0.124094,25.2550,3.3925,1.305354,49102.92,31514.74,26567.2000,24051.72

In [20]:

df_n = df_n.rename(columns={'Index Name':'product'})

In [21]:
df_n.head()

,product,Annual Returns,PE Ratio,PB Ratio,Dividend Yield,Index Price(2022),Index Price(2019),Index Price(2016),Index Price(2014)
0,S&P BSE Sensex,0.126169,23.7400,3.4400,1.240000,60840.74,41253.74,26626.4600,27499.42
1,S&P BSE Sensex 50,0.149719,22.0175,3.1925,1.501542,19058.93,12736.31,8428.0500,10390.37
2,S&P BSE Sensex 50 TMC,0.138719,22.0175,3.1925,1.501542,6165.61,4180.27,5943.4725,5622.23
3,S&P BSE Sensex(duplicated),0.126169,23.7400,3.4400,1.240000,60840.74,41253.74,26626.4600,27499.42
4,S&P BSE Sensex next 50,0.124094,25.2550,3.3925,1.305354,49102.92,31514.74,26567.2000,24051.72

In [22]:
#df = df.reset_index()
product_name = df_n['product']
product_name.shape

(69,)

In [23]:
indices = pd.Series(df_n.index, index=df_n['product'])

In [24]:
#for euclidian

def recommend(product):
    idx = indices[product]
    sim_scores = list(enumerate(simmax[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=False)
    sim_scores = sim_scores[1:31]
    product_indices = [i[0] for i in sim_scores]
    return product_name.iloc[product_indices]

In [30]:
df_n['product'].iloc[0]

'S&P BSE Sensex'

In [31]:
recommend('S&P BSE Sensex').head(10)

3         S&P BSE Sensex(duplicated)
44    S&P BSE Information Technology
4             S&P BSE Sensex next 50
20                    S&P BSE BANKEX
32                 S&P BSE DOLLEX 30
39                S&P BSE Healthcare
22             S&P BSE CAPITAL GOODS
5                            BSE 100
62                 S&P BS ESMALL CAP
26         S&P BSE Consumer Durables
Name: product, dtype: object

# recommender alt (with imputed dataframe):: same result as before

In [41]:
df_imputed=pd.concat([a,df_imputed],axis=1);df_imputed.head()

,Index Name,Annual Returns,PE Ratio,PB Ratio,Dividend Yield,Index Price(2022),Index Price(2019),Index Price(2016),Index Price(2014)
0,S&P BSE Sensex,0.126169,23.7400,3.4400,1.240000,60840.74,41253.74,26626.4600,27499.42
1,S&P BSE Sensex 50,0.149719,22.0175,3.1925,1.501542,19058.93,12736.31,8428.0500,10390.37
2,S&P BSE Sensex 50 TMC,0.138719,22.0175,3.1925,1.501542,6165.61,4180.27,5943.4725,5622.23
3,S&P BSE Sensex(duplicated),0.126169,23.7400,3.4400,1.240000,60840.74,41253.74,26626.4600,27499.42
4,S&P BSE Sensex next 50,0.124094,25.2550,3.3925,1.305354,49102.92,31514.74,26567.2000,24051.72

In [42]:
df_imputed=df_imputed.rename(columns={'Index Name':'product'});df_imputed.head()

,product,Annual Returns,PE Ratio,PB Ratio,Dividend Yield,Index Price(2022),Index Price(2019),Index Price(2016),Index Price(2014)
0,S&P BSE Sensex,0.126169,23.7400,3.4400,1.240000,60840.74,41253.74,26626.4600,27499.42
1,S&P BSE Sensex 50,0.149719,22.0175,3.1925,1.501542,19058.93,12736.31,8428.0500,10390.37
2,S&P BSE Sensex 50 TMC,0.138719,22.0175,3.1925,1.501542,6165.61,4180.27,5943.4725,5622.23
3,S&P BSE Sensex(duplicated),0.126169,23.7400,3.4400,1.240000,60840.74,41253.74,26626.4600,27499.42
4,S&P BSE Sensex next 50,0.124094,25.2550,3.3925,1.305354,49102.92,31514.74,26567.2000,24051.72

In [43]:
df_imputed.head()

,product,Annual Returns,PE Ratio,PB Ratio,Dividend Yield,Index Price(2022),Index Price(2019),Index Price(2016),Index Price(2014)
0,S&P BSE Sensex,0.126169,23.7400,3.4400,1.240000,60840.74,41253.74,26626.4600,27499.42
1,S&P BSE Sensex 50,0.149719,22.0175,3.1925,1.501542,19058.93,12736.31,8428.0500,10390.37
2,S&P BSE Sensex 50 TMC,0.138719,22.0175,3.1925,1.501542,6165.61,4180.27,5943.4725,5622.23
3,S&P BSE Sensex(duplicated),0.126169,23.7400,3.4400,1.240000,60840.74,41253.74,26626.4600,27499.42
4,S&P BSE Sensex next 50,0.124094,25.2550,3.3925,1.305354,49102.92,31514.74,26567.2000,24051.72

In [44]:
#df = df.reset_index()
product_name = df_imputed['product']
product_name.shape

(69,)

In [45]:
indices = pd.Series(df_n.index, index=df_n['product'])

In [46]:
def recommend(product):
    idx = indices[product]
    sim_scores = list(enumerate(simmax[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=False)
    sim_scores = sim_scores[1:31]
    product_indices = [i[0] for i in sim_scores]
    return product_name.iloc[product_indices]

In [49]:
df_n['product'].iloc[0]

'S&P BSE Sensex'

In [50]:
recommend('S&P BSE Sensex').head(5)

3         S&P BSE Sensex(duplicated)
44    S&P BSE Information Technology
4             S&P BSE Sensex next 50
20                    S&P BSE BANKEX
32                 S&P BSE DOLLEX 30
Name: product, dtype: object